<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-6">
			<h2>{{title}}</h2>
		</div>
	</div>
</div>
<div class="container inicial">
	<div class="row">
		<div class="col-md-5 col-md-offset-5">
			<a class="btn btn-info" href="/new{{../permanlink}}/register{{id}}">Registrarse</a>
    		<a class="btn btn-default" href="/new{{../permanlink}}/login{{id}}">Iniciar Session</a>
		</div>
	</div>
	<div class="row">
	<a href="/get-data">Datos almacenados</a>
		<table class="table">
		<tr>
			<th>
				Name
			</th>
			<th>
				Password
			</th>
		</tr>
		
			{{#each items}}

				<tr>
					<td>
						{{this.name}}
					</td>
					<td>
						{{this.password}}
					</td>
				</tr>
			{{/each}}
		
		</table>
	</div>
</div>